<link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
<div class="container">
	<h1>Hello, <%=user.name %></h1>
	<% if(success){ %>
	<div class='alert alert-success'>
	<%= success %>
	</div>
	<% } %>
	<% if(error){ %>
	<div class='alert alert-danger'>
	<%= error %>
	</div>
	<% } %>
	<form action="/post" method="post">
		<label>Say something:</label>
		<textarea id="content" name="content"></textarea>
		<button class="btn btn-primary">Tweet it</button>
	</form>
	<% if(tweets){
		%>
		<div id="tweets">
		<%
		for(var i = 0; i<tweets.length; i++){
			%>
				<article>
					<p>
						<span class="poster"><%=tweets[i].user%></span> posted at: 
						<span class="time"><%=tweets[i].time %></span>
					<p>
					<div class="tweet">
						<%=tweets[i].content%>
					</div>
				</article>
			<%
		}
		%>
		</div>
		<%
	}%>
</div>